        html {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
            font-size: 22px;
            
        }
        header{
            text-align: center;
        }
        h1{
            background: linear-gradient(to right,rgb(255, 0, 0),rgb(98, 36, 0));
            color: transparent;
            -webkit-background-clip: text;
            
            
        }
        #message {
            background: linear-gradient(to right,#ff930f,#fff95b);
            width: 1500px;
            height: 300px;
        }
        body {
            background-color: rgb(196, 250, 255);
            color:black;
            
        }
